
.top-bar{
  background-color: purple !important;
  padding: 2rem 2rem !important;
  color: floralwhite !important;
  text-align: left !important;;
}

.menu {
  text-align: left !important;
  color: floralwhite !important;
  background-color:purple !important;
  
}
.menu-text{
  font-size: 36px !important;
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
a {
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: goldenrod !important;
}
a:hover {
  color: aquamarine !important;
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
body {
    display: block;
        margin: 0;
        padding: 0;
        background: #fefefe;
        background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(254, 254, 254);
        font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
        line-height: 1.5;
        color: #0a0a0a;
        -webkit-font-smoothing: antialiased;
    }
